/* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
       #map {
        height: 100%;
      }
      
      /* Optional: Makes the sample page fill the window. */
      html,
      body {
        height: 90%;
        margin: 0;
        padding: 0;
        background-image: linear-gradient(to left, #363636, #1c1c1c);
      }
      h1 {
        text-align: center;
        color: white;
      }
      
     